@import '../../assets/styles/variables.scss';

.breadcrumbs {
    width: 100%;
    color: white;
    background-color: $main-gray;
    border-radius: $border-radius;
    padding: 20px;
    &-header {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 21px;
        margin-left: 5px;
    }
    &-list {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        &-item > a {
            padding: 5px;
            border-radius: $border-radius;
            cursor: pointer;
            transition: all 0.15s;
            &:hover {
                background-color: $second-gray;
                color: $main-green;
            }
        }
    }
}
