@import '../../../../assets/styles/variables.scss';

.about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-imageTitle {
        color: $main-green;
        font-weight: 400;
    }
    &-image {
        width: 400px;
        height: 300px;
    }
}
