@import '../../../../assets/styles/variables.scss';

.notificationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    color: white;
    width: 300px;
    height: 50px;
    transition: right 0.5s ease;
    top: 10px;
    right: -100%;
    border-radius: $border-radius;
    &-deleteButton {
        width: 16px;
        height: 16px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
    &-addAnim {
        top: 10px;
        right: 20px;
    }
    &-green {
        background-color: $second-green;
    }
    &-red {
        background-color: $main-red;
    }
}
