@import '../../assets/styles/variables.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: center;
    &-bg {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        opacity: 0.3;
        transition: opacity 0.2s;
        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
    &-inner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        border-radius: $border-radius;
        padding: 30px;
        background-color: $main-gray;
    }
}
