@import '../../assets/styles/variables.scss';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px;
    border: 0;
    background-color: $main-gray;
    border-radius: $border-radius;
    color: white;
    transition: all 0.15s;
    &-icon {
        width: 15px;
        height: 15px;
    }
    &-red:hover {
        background-color: $main-red;
    }
    &-green:hover {
        background-color: $second-green;
        color: white;
    }
    &-redSolid {
        background-color: rgba(246, 86, 6, 0.8);
        color: black;
    }
    &-greenSolid {
        background-color: rgba(55, 197, 195, 0.8);
        color: black;
    }

    &-redSolid:hover {
        background-color: #f65606;
    }
    &-greenSolid:hover {
        background-color: $main-green;
    }
    &:hover {
        cursor: pointer;
    }
}
