@import '../../assets/styles/variables.scss';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px;
    border: 0;
    background-color: $main-gray;
    border-radius: $border-radius;
    color: white;
    transition: all 0.15s;
    &-icon {
        width: 15px;
        height: 15px;
    }
    &-red:hover {
        background-color: $main-red;
    }
    &-green:hover {
        background-color: $second-green;
    }
    &-redOutlined {
        color: #d32f2f;
        border: 1px solid #d32f2f80;
    }
    &-greenOutlined {
        background-color: transparent;
        border: 1px solid #2e7d3250;
        color: #2e7d32;
    }

    &-redOutlined:hover {
        background-color: #d32f2f10;
        border-color: #d32f2f;
    }
    &-greenOutlined:hover {
        background-color: #2e7d3210;
        border-color: #2e7d32;
    }
    &:hover {
        cursor: pointer;
    }
}
