@import '../../../../assets/styles/variables.scss';

.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    color: white;
    &-item {
        padding: 20px;
        background-color: $main-gray;
        border-radius: $border-radius;
        &-title {
            font-size: 20px;
            margin-bottom: 20px;
        }
        &-image {
            width: 100%;
        }
        &:hover {
            cursor: grab;
            color: $main-green;
            background-color: $second-gray;
        }
    }
}

.dragOver {
    color: $main-green;
    background-color: $second-gray;
}
